<launch>

<include file= "$(find td2)/src/launch/aruco1.launch"/>
<include file= "$(find td2)/src/launch/aruco2.launch"/>
<include file= "$(find td2)/src/launch/aruco3.launch"/>
<include file= "$(find td2)/src/launch/aruco4.launch"/>
<include file= "$(find td2)/src/launch/aruco5.launch"/>
<include file= "$(find td2)/src/launch/aruco6.launch"/>
<include file= "$(find td2)/src/launch/aruco7.launch"/>
<include file= "$(find td2)/src/launch/aruco8.launch"/>
<include file= "$(find td2)/src/launch/aruco9.launch"/>
<include file= "$(find td2)/src/launch/aruco10.launch"/>
<include file= "$(find td2)/src/launch/aruco11.launch"/>
<include file= "$(find td2)/src/launch/aruco12.launch"/>
<include file= "$(find td2)/src/launch/aruco13.launch"/>
<include file= "$(find td2)/src/launch/aruco14.launch"/>

</launch>
